@import '../../assets/styles/vars.scss';

.text {
  margin-left: 42px;
  @include tablet {
    margin-left: 16px;
  }
  @include tablet-portrait {
    margin-left: 0;
    margin-top: 45px;
  }
  @include mobile {
    margin-top: 20px;
  }
  p {
    margin-bottom: 20px;
    @include tablet {
      margin-bottom: 16px;
    }
    @include tablet-portrait {
      margin-bottom: 12px;
    }
    @include mobile {
      margin-bottom: 8px;
    }
  }
}

.wrap {
  position: relative;
  display: flex;
  justify-content: space-between;
  @include tablet-portrait {
    flex-direction: column;
  }
}

.first {
  font-family: $bonanova;
  font-size: 68.57px;
  line-height: 72px;
  color: $orange;
  position: relative;
  top: 2px;
  @include tablet {
    font-size: 40px;
    line-height: 42px;
    top: 1px;
  }
  @include mobile {
    font-size: 36px;
    line-height: 37.8px;
  }
}

.videoBlock {
  position: relative;
  width: 100%;
  @include tablet-portrait {
    display: flex;
    justify-content: flex-start;
  }
  video {
    width: 870px;
    position: absolute;
    right: 0;
    top: 96px;
    @include tablet {
      width: 592px;
      top: 65px;
    }
    @include tablet-portrait {
      position: relative;
      width: 501px;
      top: 0;
      margin-left: 51px;
    }
    @include mobile {
      width: 326px;
      max-width: 100%;
      margin-top: 10px;
      margin-left: 0;
    }
  }
}
